@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand&family=Roboto+Slab&family=Sora:wght@400;700&display=swap");
body {
  font-family: Sora, "sans-serif";
  line-height: 1.7;
  color: #888;
}
body section {
  padding-top: 120px;
  padding-bottom: 120px;
}
body h1, body h2, body h3, body h4, body h5, body h6, body .display-4 {
  color: #21252f;
  font-weight: 700;
}
body a {
  color: #21252f;
  text-decoration: none;
}
body img { /* Make responsive images */
  width: 100%;
}
body .logo {
  width: 80px;
}
body .btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 50px;
}

.navbar {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}
.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.hero {
  background-image: url(../img/covernft.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

#nosotros .card-effect {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease;
}
#nosotros .card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}
#nosotros .service {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#nosotros .service::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #0d6efd;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}
#nosotros .service .iconbox {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  color: #fff;
  font-size: 32px;
  border-radius: 100px;
}
#nosotros .service:hover .iconbox {
  background-color: #fff;
  color: #0d6efd;
}
#nosotros .service:hover h5, #nosotros .service:hover p {
  color: #fff;
}
#nosotros .service:hover::after {
  opacity: 1;
  top: 0;
}

#drops {
  padding-top: 10px;
  padding-bottom: 10px;
}
#drops .project {
  position: relative;
  overflow: hidden;
}
#drops .project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 51, 0.8);
  padding: 30px;
  display: flex;
  align-items: flex-start;
  transition: all 0.4s ease;
  opacity: 0;
}
#drops .project img {
  transition: all 0.4s ease;
}
#drops .project:hover .overlay {
  opacity: 1;
}
#drops .project:hover img {
  transform: scale(1.1);
}

#AllCollections .project {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
#AllCollections .project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 51, 0.8);
  padding: 30px;
  display: flex;
  align-items: flex-start;
  transition: all 0.4s ease;
  opacity: 0;
}
#AllCollections .project img {
  transition: all 0.4s ease;
}
#AllCollections .project:hover .overlay {
  opacity: 1;
}
#AllCollections .project:hover img {
  transform: scale(1.1);
}
#AllCollections .social-icons {
  display: flex;
  justify-content: center;
}
#AllCollections .social-icons a {
  width: 34px;
  height: 34px;
  background-color: #0d6efd;
  border-radius: 2px solid #0d6efd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all 0.4s ease;
  border: 2px solid #0d6efd;
}
#AllCollections .social-icons a:hover {
  color: #0d6efd;
  background-color: transparent;
  border-color: #0d6efd;
}
#AllCollections .social-icons a {
  width: 100px;
  height: 34px;
  font-size: 24px;
}

form input.form-control {
  height: 56px;
}
form .form-control {
  border: transparent;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

#colecciones .card-effect {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease;
  border-radius: 40px;
}
#colecciones .card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}
#colecciones .colecciones-tipos img {
  width: 145px;
  height: 145px;
  border-radius: 100px;
}
#colecciones .social-icons {
  display: flex;
  justify-content: center;
}
#colecciones .social-icons a {
  width: 34px;
  height: 34px;
  background-color: #0d6efd;
  border-radius: 2px solid #0d6efd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all 0.4s ease;
  border: 2px solid #0d6efd;
}
#colecciones .social-icons a:hover {
  color: #0d6efd;
  background-color: transparent;
  border-color: #0d6efd;
}

.footer-top {
  padding: 30px;
  background-color: #21252f;
}
.footer-top a {
  color: #888;
}
.footer-top a:hover {
  color: #fff;
}/*# sourceMappingURL=style.css.map */